.loader {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 6px;
		
	width: 70px;
	height: 70px;
	margin: auto;
	text-align: center;

	animation: loader 1.75s cubic-bezier(0.5, 0, 0.5, 1) infinite;

	div {
		width: 32px;
		height: 32px;
		border-radius: 4px;
		background: var(--color-theme-1);
	}
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}
