.forgot-password {
	width: 100%;
	padding: 16px;

	h1 {
		margin-bottom: 2rem;
		color: var(--color-1);
		text-align: center;
	}

	p {
		margin-bottom: 2rem;
		text-align: center;
	}
	
	form {
		width: 100%;
		margin-bottom: 1rem;
		
		button {
			display: block;
			width: 100%;
			margin-top: 2rem;
		}
	}

	a {
		display: block;
		margin-top: 2rem;
		text-align: center;
	}
}