.game {
	display: flex;

	&:focus-visible {
		outline: none;
	}

	.side-panel {
		display: flex;
        flex-direction: column;
        justify-content: space-between;
	}
}

.buttons {
	width: 100%;
	display: flex;
	align-items: center;

	button {
		width: 50%;

		&:first-of-type {
			margin-right: 4px;
		}

		&:last-of-type {
			margin-left: 4px;
		}
	}
}

.game-actions {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	svg {
		height: 3rem;
		width: 3rem;
		margin: 0 0 1rem 0;
	
		fill: var(--color-theme-1);
		&:hover {
			cursor: pointer;
			fill: var(--color-theme-2);
		}
	}

	.game-actions-modes {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 1rem;

		svg {
			margin: 0 1rem;
		}

		.game-actions-mode {
			color: var(--color-theme-1);

			&:hover {
				cursor: pointer;
				color: var(--color-theme-2);
				text-decoration: underline;
			}
		}
	}
}
