.game {
	display: flex;

	&:focus-visible {
		outline: none;
	}

	.side-panel {
		display: flex;
        flex-direction: column;
        justify-content: space-between;
	}
}

.buttons {
	width: 100%;
	display: flex;
	align-items: center;

	button {
		width: 50%;

		&:first-of-type {
			margin-right: 4px;
		}

		&:last-of-type {
			margin-left: 4px;
		}
	}
}