:root {
	--background-1: #18191A;
	--background-2: #242526;
	--background-3: #3A3B3C;

	--background-I: #30C7EF;
	--background-J: #5866AF;
	--background-L: #EF7922;
	--background-O: #F5D507;
	--background-S: #40B73F;
	--background-T: #AD4E9E;
	--background-Z: #EF202B;

	--color-1: #FFF;
	--color-2: #000;

	--color-theme-1: #03a9f4;
	--color-theme-2: #59c2f3;

	--color-good: #6fb400;
	--color-bad: #B40000;
	--color-warning: #eb9901;

	--button-background-1: #03a9f4;
	--button-background-2: #36b5f0;
	--button-color-1: #242526;
	
	--border-radius-1: 8px;
	--border-1: 1px solid var(--background-4);
	--box-shadow-1: 0px -4px 5px rgba(0, 0, 0, 0.03);
}