.signin-form {
	width: 100%;

	h1 {
		margin-bottom: 2rem;
		color: var(--color-1);
		text-align: center;
	}
	
	form {
		width: 100%;
		margin-bottom: 1rem;
		
		button {
			margin: 2rem auto 0 auto;
		}
	}

	p {
		margin-top: 2rem;
		text-align: center;

		span {
			color: var(--color-theme-1);
			text-decoration: none;
			-webkit-tap-highlight-color: transparent;
			cursor: pointer;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
}